// Table

table {
  width : 100%;
  height: 20vw;
}
/* Base for label styling */
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left    : -9999px;
}

[type="checkbox"]:checked+label,
[type="checkbox"]:not(:checked)+label {
  position    : relative;
  padding-left: 6rem;
  cursor      : pointer;
}
/* checkbox aspect */
[type="checkbox"]:checked+label:before,
[type="checkbox"]:not(:checked)+label:before {
  content      : '';
  position     : absolute;
  left         : 0;
  top          : 2px;
  width        : 6rem;
  height       : 6rem;
  border       : 1px solid #aaa;
  background   : $green-secondary;
  border-radius: 3px;
  box-shadow   : inset 0 1px 3px rgba(0, 0, 0, .3);
}
/* checked mark aspect */
[type="checkbox"]:checked+label:after,
[type="checkbox"]:not(:checked)+label:after {
  content    : url("https://raw.githubusercontent.com/Ranks/emojione/master/assets/png_512x512/1f401.png");
  // content    : url("catch-the-mouse.github.io/assets/1f401.svg");
  position   : absolute;
  top        : -13rem;
  left       : -13rem;
  font-size  : 48px;
  line-height: 0.8;
  color      : $green-secondary;
  transition : all 0.2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked)+label:after {
  opacity  : 0;
  transform: scale(0);
}

[type="checkbox"]:checked+label:after {
  opacity  : 1;
  transform: scale(0.3);
}
/* accessibility */
[type="checkbox"]:checked:focus+label:before,
[type="checkbox"]:not(:checked):focus+label:before {
  border: 1px dotted $green-secondary;
}

[type="checkbox"]:checked:hover+label:before,
[type="checkbox"]:not(:checked):hover+label:before {
  background: $green-primary;
}

[type="checkbox"]:checked:active+label:before,
[type="checkbox"]:not(:checked):active+label:before {
  box-shadow: inset 0 0.2rem 1rem rgba(0, 0, 0, .3);
}

bel:before {
  border: 1px dotted $green-secondary;
}
